﻿
/* drawer and action bar stuff */
action-bar {
  background-color: #053140;
  color: white;
}

.drawer-content {
  background-color: #053140;
  color: white;
  padding-top: 20;
}
.drawer-content label {
  font-size: 20;
  margin: 10 0 15 25;
}
.selected {
  color: #e4ba4e;
}

/* *************************************************** */

.page-header-label {
  display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}


/* *************************************************** */

listview {
  color:'black'; 
  }

  .listview .item {
    padding: 10 10 10 10;
    font-size: 16;
    color: #444; 
    }
    .listview .item .h2 {
      margin: 0;
      margin: 0;
      font-size: 20; 
      }
    .listview .item .p {
      font-size: 14;
      color: #666;
      margin: 0; 
      }

.listview-inset {
  margin: 10;
  border-width: 1;
  border-color: #DDDDDD;
  border-radius: 10; 
  }

.item-avatar image {
  border-radius: 25;
  width: 50;
  height: 50; 
  }

.item-avatar stacklayout, .item-thumbnail stacklayout {
  padding-left: 16; 
  }

.img-circle {
  border-radius: 50%;
}
